name: build

permissions:
  id-token: write

on: [workflow_dispatch, push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    container: coady/pylucene
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
    - run: uv venv --system-site-packages
    - run: make check
    - run: uv run coverage xml
    - uses: codecov/codecov-action@v5
      with:
        use_oidc: true

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
    - run: make lint

  docs:
    runs-on: ubuntu-latest
    container: coady/pylucene
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
    - run: uv venv --system-site-packages
    - run: make html
