name: release

permissions: write-all

on:
  push:
    tags: ['v*']

jobs:
  pages:
    runs-on: ubuntu-latest
    container: coady/pylucene
    steps:
    - uses: actions/checkout@v5
    - uses: astral-sh/setup-uv@v7
    - run: uv venv --system-site-packages
    - run: git config --global --add safe.directory /__w/lupyne/lupyne
    - run: uv run -w . mkdocs gh-deploy --force

  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: astral-sh/setup-uv@v7
    - run: uv build
    - uses: pypa/gh-action-pypi-publish@release/v1
